@page
@model BitcoinModel
@{
    ViewData["Title"] = "Bitcoin";
}

<head>
    <meta charset="utf-8" />
    <title>Currency Converter</title>
    <link rel="stylesheet" type="text/css" href="~/css/BitcoinCSS.css">
    </head>
<body>
    <br>
    <button onclick="$('#createBitcoinForm').show();">Show today Bitcoin Price</button>

    <div>
        <a href="https://api.coindesk.com/v1/bpi/currentprice.json">View JSON data</a>
    </div>

    <div id="app">
        <form id="createBitcoinForm" class="form" style="display:none">
            <h1>Bitcoin Price Index</h1>
            <div v-for="currency in info"
                 class="currency">
                <p>{{ currency.description }}:</p>
                <span class="lighten">
                    <span v-html="currency.symbol"></span>
                    <p>{{ currency.rate_float | currencydecimal }}</p>
                </span>
            </div>
        </form>
    </div>
    </body>
<script type="text/javascript" src="~/js/Bitcoin.js"></script>
