@page
@model AboutModel
@{
    <!-- ViewData["Title"] = "About"; -->
}
<!-- <h2>@ViewData["Title"]</h2>-->
<h1>Our Vision</h1>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<p>Our Company - <strong>Moda Ultimo</strong> is an American Company Headquartered in Cincinnati, Ohio. It is popular for selling fashionable products across United States. 
    We have our more than 100 stores and inventories across all the major and big cities in The United States.</p>
    <p>ModaUltimo recenyly acquired it's biggest competitor Fashionera and thus expanded its market largely. With this acquisition, we are planning to open our stores across major countries of Europe.</p>
<h2>Board of Directors</h2>
</br>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
         <img class="card-img-top" src="~/images/Kinjal.jpg" alt="Kinjal">
      <div class="card-body">
    <h5 class="card-title"><i>Chief Operating Officer (COO)</i></h5>
    <p class="card-text">Self-motivated nerd who loves anything to do with cooking and styling helps keep this company operational with her vast industry experience and knowledge</p>
    <a href="#" class="btn btn-primary">Click for Contact</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
         <img class="card-img-top" src="~/images/Ankeeta.jpg" alt="Ankeeta">
      <div class="card-body">
        <h5 class="card-title"><i>Chief Executive Officer (CEO)</i></h5>
        <p class="card-text">The face of this company - she loves fashion and clothing industry. This company is the product of her passion and love for fashion.</p>
        <a href="#" class="btn btn-primary">Click for Contact</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
         <img class="card-img-top" src="~/images/Rahul.jpg" alt="Rahul">
      <div class="card-body">
        <h5 class="card-title"><i>Chief Technology Officer (CTO)</i></h5>
        <p class="card-text">Geeky nerd who manages all the technology and its implementation in our company. He helps keep our online business running and operational.</p>
        <a href="#" class="btn btn-primary">Click for Contact</a>
      </div>
    </div>
  </div>
</div>