@page
@model HelpModel
@{
    ViewData["Title"] = "Help";
}
<!-- <h3>@Model.Message</h3> -->

<div>
    <h3>Store and Inventory List</h3>
    <p>This page lists all the inventories associated with a store.</p>
    <img src="~/images/StoreList.jpg" alt="Store List">
</div>

<div>
    <h3>Product Category</h3>
    <p>This page lists all the products in the inventory, categorywise.</p>
    <img src="~/images/PrdCat.jpg" alt="Product Category">
</div>

<div>
    <h3>Inventory Summary</h3>
    <p>This page lists all the products present in the invetory</p>
    <img src="~/images/InventorySummary.jpg" alt="Inventory Summary">
</div>

<div>
    <h3>Product Search</h3>
    <p>You can search any product on this page using text that matches the product name. 
        Enter the term which is present in the product name and hit "Search". It will list down all 
        the products that are present with matching description.</p>
     <img src="~/images/ProdSearch.jpg" alt="Product Search">
</div>
<div>
    <h3>Inspect Store and Inventory</h3>
    <p>This page will help us to inspect data if manufacturing date of product is present in the 
        database.</p>
    <img src="~/images/Inspection.jpg" alt="Inspect">
</div>

<div>
    <h3>Update Quantity</h3>
    <p>This page checks and updates quantities in the inventory.</p>
    <img src="~/images/QuanUpdate.jpg" alt="Update">
</div>
