
body {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('/images/Supermarket.jpg');
    background-size: cover;
}

td {
    text-align: center;
    color: black;
    background-color: whitesmoke;
}

h1 {
    color: whitesmoke;
}

#createPrdForm {
    color: whitesmoke;
}

.json {
    color: greenyellow;
}

